body {
    background-color: var(--background);
    overflow: hidden;
}

.main_column {
    width: 100%;
    max-width: 540px;
    margin: auto;
}

.register .main_column {
    margin: 0;
}

.login_logo {
    padding: 60px 0 50px 15px;
}

.form_cont {
    width: 100%;
    border-radius: var(--big_radius);
    background-color: var(--white);
    box-shadow: var(--shadow-large);
    padding: 56px 64px;
}

.mt-35 {
    margin-top: 32px;
}

h1 {
    font-size: 27px;
}

h2 {
    font-size: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 15px;
}

.register_button {
    background-color: var(--background);
    padding: 24px 0;
    margin: 0 4px;
    border-radius: var(--big_radius);
}

.error {
    margin-top: 10px;
    display: none;
    color: var(--red);
}

.reset-success #reset-success {
    display: block;
}

#reset_password,
.reset #main_form {
    display: none;
}

.reset #reset_password {
    display: block;
}

#reset-success,
.reset-success #reset_password,
.reset-success #main_form {
    display: none;
}

.side {
    max-width: 420px;
}

.big_gap {
    gap: 40px;
}

@media (min-width: 768px) {
    .big_gap {
        margin-top: 60px;
    }
}

@media (min-width: 950px) {
    .big_gap {
        gap: 110px;
    }
}

@media (max-width: 768px) {
    .reg_wrapper {
        align-items: center;
    }
}

@media (max-width: 600px) {
    .form_cont {
        padding: 32px 20px;
    }

    .login_logo {
        padding: 32px 15px;
    }
}