.price_box {
    padding: 32px 24px;
    min-width: 270px;
    border-radius: var(--radius);
    border: var(--border);
    position: relative;
}

.price_box.active {
    border-color: var(--accent);
}

.plan_name {
    color: var(--secondary);
    text-transform: uppercase;
    font-weight: var(--main_bolder_weight);
    font-size: 14px;
    text-align: center;
    margin-bottom: 24px;
}

.price {
    display: flex;
    align-items: baseline;
    gap: 5px;
}

.price h3 {
    font-size: 25px;
}