<div class="author alc gap_15">
    <div class="avatar">
        <img src="/static/img/profile.svg">
    </div>
    <div>
        <div class="alc">
            <div class="author_name" data-text="author_name"></div>
            <div class="instructor_badge hide" data-show="is_posted_by_admin">Учитель</div>
        </div>
        <div class="alc wrap mt-5">
            <div class="time sec" data-text="time"></div>
            <div class="question_cat flex hide">
                &nbsp;в&nbsp;
                <div class="cat"></div>
             </div>
        </div>
    </div>
</div>
