<div class="mt alc sec gap_15 sec bottom_actions wrap">
    <div class="pointer leave_comment">
        <span class="comment_text">Комментировать</span>
        <span class="reply_text">Ответить</span>
    </div>
    <div class="pointer hide edit">Редактировать</div>
    <div class="pointer instructor_only delete">Удалить</div>
    <div class="pointer instructor_only endorse" data-active="is_endorsed">
        <div class="inactive_text">Одобрить</div>
        <div class="active_text">Убрать одобрение</div>
    </div>
</div>