<div class="post question" data-id="">

    <div class="sb alc">
        <h1 data-text="title"></h1>
    </div>

    <div class="q_bar sb mt">
        {% include "discussionboard/components/author.html" %}

        <div class="alc gap wrap jc">
            <div class="students_only question_endorsed active q_action hide" data-show="is_endorsed">
                {% include "discussionboard/components/icons/endorse.html" %}
                <div>
                    Одобрено
                </div>
            </div>

            <div class="instructor_only endorse q_action" data-active="is_endorsed">
                <div>
                    {% include "discussionboard/components/icons/endorse.html" %}
                </div>
                <div>
                    <span class="inactive_text">Одобрить</span>
                    <span class="active_text">Убрать одобрение</span>
                </div>
            </div>
            <div class="instructor_only pin q_action" data-active="is_pinned">
                <div>
                    {% include "discussionboard/components/icons/pin.html" %}
                </div>
                <div>
                    <span class="inactive_text">Закрепить</span>
                    <span class="active_text">Открепить</span>
                </div>
            </div>
            <div class="views q_action">
                <svg width="25" height="25" x="0" y="0" viewBox="0 0 488.85 488.85"
                    style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
                    <g>
                        <path
                            d="M244.425 98.725c-93.4 0-178.1 51.1-240.6 134.1-5.1 6.8-5.1 16.3 0 23.1 62.5 83.1 147.2 134.2 240.6 134.2s178.1-51.1 240.6-134.1c5.1-6.8 5.1-16.3 0-23.1-62.5-83.1-147.2-134.2-240.6-134.2zm6.7 248.3c-62 3.9-113.2-47.2-109.3-109.3 3.2-51.2 44.7-92.7 95.9-95.9 62-3.9 113.2 47.2 109.3 109.3-3.3 51.1-44.8 92.6-95.9 95.9zm-3.1-47.4c-33.4 2.1-61-25.4-58.8-58.8 1.7-27.6 24.1-49.9 51.7-51.7 33.4-2.1 61 25.4 58.8 58.8-1.8 27.7-24.2 50-51.7 51.7z"
                            fill="var(--lightgray)" opacity="1" data-original="#000000" class=""></path>
                    </g>
                </svg>
                <div class="views_count" data-text="views">

                </div>
            </div>
        </div>
    </div>

    <div class="mt flex gap_15">
        {% include "discussionboard/components/like.html" %}

        <div>
            <div class="q_body post_body" data-html="body">

            </div>
            {% include "discussionboard/components/bottom_actions.html" %}

            <div class="comments"></div>
        </div>
    </div>
</div>
