/* CREATION */

.thread_creation {
    margin-left: auto;
    margin-right: auto;
}

.type_options {
    gap: 10px;
}

.type_options div {
    flex-grow: 1;
    padding: 15px;
    text-align: center;
    border-radius: var(--radius);
    background-color: var(--background2);
}

.type_options div.active {
    background-color: var(--transp_accent);
    color: var(--accent);
}

.thread_creation input[type="text"] {
    width: 100%;
}

.select_cat .cat {
    padding: 10px 15px;
    border-radius: 50vh;
    background-color: var(--background2);
}

.select_cat .cat.active {
    background-color: var(--transp_accent);
    color: var(--accent);
}

.creation_subcats {
    display: none;
}

.select_cat .cat.active + .creation_subcats {
    display: flex;
} 

.tox-tinymce {
    border: var(--border) !important;
    border-radius: var(--radius) !important;
}