{% extends "users/base.html" %}
{% load static %}
{% block title %}Условия подписки | {{ sitename }}{% endblock %}
{% block styles %}

{% endblock %}

{% block content %}
{% include "users/home_nav.html" %}

<div class="container height_100 ptb">
    <h1 class="mt-5">Условия подписки</h1>

    <p><strong>Подписки.</strong>&nbsp;У вас есть возможность приобрести план подписки, который открывает доступ к
        дополнительным функциям или возможностям вашей учетной записи Дискуссии.ру (<strong>«Подписка»</strong>). Для
        этого можно: 1) оплатить возобновляемую подписку; 2) внести предоплату, открывающую доступ к нужным функциям
        в течение определенного периода времени (далее — «<strong>Предоплаченный период</strong>»). Ваш доступ к
        этим программам регулируется условиями, изложенными ниже.</p>

<!-- 
    <p><strong>Тарифы</strong>:</p>
    <ul class="wp-block-list">
        <li>Месячный план – 199 рублей в месяц;</li>
        <li>Годовой план – 1188 рублей в год.</li>
    </ul> -->

    <p><strong>Условия Подписки.</strong>&nbsp;Подписка, оформленная на Предоплаченный период, автоматически
        продлевается по окончанию Предоплаченного периода на срок, равный последнему Предоплаченному периоду.</p>

    <p><strong>Отмена продления Подписки.</strong>&nbsp;Вы можете отказаться от автоматического продления Подписки в
        любое время в <a href="/settings">настройках аккаунта</a>, но как минимум за 1 день до истечения ее срока,
        чтобы избежать дополнительных расходов. Вплоть до даты истечения срока Подписки вы сможете использовать
        возможности, доступные в рамках Подписки, после чего она будет отозвана, а уровень вашей учетной записи
        будет автоматически понижен.</p>

    <p><strong>Прекращение Расширенного членства с нашей стороны.</strong>&nbsp;Мы можем лишить вас Расширенного
        членства в любое время и по любой причине с предварительным уведомлением или без такового.</p>

    <p><strong>Возврат средств.</strong>&nbsp;За исключением предусмотренных законом случаев вы не можете вернуть
        средства за Подписки, приобретенные непосредственно через сайт Дискуссии.ру.</p>

    <p><strong>Изменение цены.</strong>&nbsp;Мы можем время от времени изменять цену Подписки. Изменения цен на
        Подписки вступят в силу в следующую дату продления, которая наступит после даты изменения цены. Продолжая
        использовать Подписку Дискуссии.ру после вступления в силу изменений в ее стоимости (в соответствии с местными
        законами), вы даете свое согласие на приобретение услуг по новым ценам. Если вы не согласны с изменением
        цены, то имеете право отказаться от Подписки путем ее отмены до того, как изменение цены вступит в силу.
        Убедительно просим вас внимательно изучать информацию, содержащуюся в уведомлениях об изменении цен.</p>

    <p>Связаться с нами по любым вопросам можно через <a href="https://discussions.ru/contact/">способы связи</a>.
    </p>
</div>

{% include "users/footer.html" %}
{% endblock %}