{% extends "users/base.html" %}
{% load static %}
{% block title %}Связаться | {{ sitename }}{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">{% endblock %}

{% block content %}
{% include "users/home_nav.html" %}

<div class="container height_100 ptb">
    <div class="content">
    <h1>Связаться</h1>
    <p class="mt">Напишите нам, если у вас есть</p>
    <ul class="mt-15">
        <li>любые вопросы;</li>
        <li>проблемы с использованием сайта;</li>
        <li>предложения по улучшению сайта.</li>
    </ul>
    <p class="mt">Постараемся ответить быстро. Способы связи:</p>
    <ul class="mt-15">
        <li>Телеграм (самый быстрый) <a href="https://t.me/discussions_support">@discussions_support</a></li>
        <li>Электронная почта <a href="mailto:contact@discussions.ru">contact@discussions.ru</a></li>
    </ul>
</div>
</div>

{% include "users/footer.html" %}
{% endblock %}